[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
pandas = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
selenium = "*"
coverage = "<5"

[requires]
python_version = "3.9"
