/*

Author: Jonathan Armoza
Created: 11/4/2021
Purpose: Stylesheet for query prototype

/* Tags */

/* Classes */

/* Card */

.btn-group {

    padding-right: 0.5em;
}
.btn-toolbar {
    padding-right: 0;
}
.card {

    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    color: black;
}
.card-checkbox {

    padding-right: 0;
}
.card-content {

    padding-left: 0;
}
.card-dataset-source {

    color: red;
    font-size: 1em;
}
.card-modality {

    font-size: 1em;
}
.card-text {

    font-size: 1.25em;
}
.card-title {

    font-size: 1.75em;

    /* Ellipsis length truncation */
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* IDs */

/* Card list */
#card-listbox {

    border: 2px;
    border-color: gray;
    height: 75vh;
    overflow-y: auto;
}

#download-results-button {

    background-color: dodgerblue;
    color: white;
    visibility: hidden;
}

#download-results-link {

    color: white;
    text-decoration: none;
}

#query-controls {

    padding-bottom: 1em;
}

